<!DOCTYPE html>
<html lnag = 'eng'>
    <head>
        <meta charset ="UTF-8">
        <title>Personal Learning Hub</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav>
            <a href = "/">Dashboard</a>
            <a href = "/dsa">DSA Tracker</a>
            <a href = "/companies">Company Tracker</a>
            <a href = "/notes">Notes</a>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>