{% extends "base.html" %}
{% block content %}
<h1>Edit note</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('pages.update_existing_note', note_id=note.id) }}">
    <input type="text" name="title" value="{{ note.title }}" required>
    <textarea name="content" rows="5">{{ note.content }}</textarea>
    <button type="submit">Save</button>
</form>

{% endblock %}